<% if @montage.status == 'success' %>
  <div><%= image_tag @montage.image.url %></div>
<% elsif %w(queued processing).include?(@montage.status) %>
  <h1>Your image is being generated. Sit tight.</h1>
<% else %>
  <h1>Shoot, your image couldn't be generated.</h1>
<% end %>

<div><%= link_to "Create Another", @montage.source %></div>
