<p>source</p>
<%= image_tag @image.source.url, :id => 'source-image' %>

<p>montage</p>
<% if @image.montage.present? %>
  <%= image_tag @image.montage.url %>
<% end %>

<script>
  $(function() {
    $('#source-image').Jcrop({
      onSelect: function(c) {
        $.post('/images/<%= params[:id] %>/montages', c, function(data) { 
          location.reload();
        });
      }
    })
  })
</script>

